# This file is for overridable cluster-specific settings
# Any config starting with 01- and above will do it

[server]
# wsrep configuration
wsrep_on=ON
wsrep_cluster_name="my-cluster"
wsrep_cluster_address="gcomm://"
wsrep_sst_method=clone
wsrep_sync_server_uuid=true
